<!DOCTYPE html>
<html lang="en">
<head>
    <title>Postgator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/main.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/css/angular.min.js"></script>
    <script type="text/javascript" src="../assets/css/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/css/bootstrap.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script type="text/javaScript" src="../controllers/app_controller.js"></script>


</head>


<body id="grad" ng-app="postgator" ng-controller="postController" onclick="change()">

<img id="logo" src="../assets/img/jj.png" style="position:fixed; left:45vw; top: 9.5vh; height:9.5vw; width:10vw;">

<div style="margin-top:15vh;">

    <p class="suggestion_para">Connect  To Your Accounts</p>
    <ul class="log_social">
         <li style="list-style:none; display:inline-block;"><img src="../assets/img/Facebook.png" class="chobi"> </li>
         <li style="list-style:none; display:inline-block;"><img src="../assets/img/googleplus.png" class="chobi"> </li>
         <li style="list-style:none; display:inline-block;"><img src="../assets/img/twitter.png" class="chobi"> </li>
         <li style="list-style:none; display:inline-block;"><img src="../assets/img/instagram.png" class="chobi"> </li>
         <li style="list-style:none; display:inline-block;"><img src="../assets/img/wordPress.png" class="chobi"> </li>

    </ul>
<br><br><br><br>
    <button class="btn btn-info text-center" style="border-radius:5vh; width:9vw; height:6vh; margin:5vh 45.5vw; text-shadow:1px 1px 1px #355;"> <b>Done</b> </button>
    <button class="btn btn-default text-center" style=" color:#6A4F94; border-radius:5vh; width:9vw; height:6vh; margin:-12vh 45.5vw;"> <b>Skip</b> </button>

</div>



</body>